<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - WebAutomationSystem</title>
    <meta name="description" content="Login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/assets/plugins/global/plugins.bundle.rtl.css?v=7.0.8" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.rtl.css?v=7.0.8" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.rtl.css?v=7.0.8" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="~/assets/css/themes/layout/header/base/light.rtl.css?v=7.0.8" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/header/menu/light.rtl.css?v=7.0.8" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/brand/dark.rtl.css?v=7.0.8" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/aside/dark.rtl.css?v=7.0.8" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->

    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
</head>
<body>
<header>

</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
