<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-dark"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row" style="direction: rtl">
            <ul class="nav nav-success nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab-2" data-toggle="tab" href="#home-2">
                        <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                        <span class="nav-text">مرکز آموزش</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab-2" data-toggle="tab" href="#profile-2" aria-controls="profile">
                        <span class="nav-icon"><i class="flaticon2-layers-1"></i></span>
                        <span class="nav-text">ورود به سیستم</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>