<!DOCTYPE html>
<html lang="en" dir="rtl" style="direction: rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <meta name="description" content="Login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <partial name="_StylePartial" />
</head>

<body id="kt_body"
      class="header-fixed header-mobile-fixed subheader-enabled
      subheader-fixed aside-enabled aside-fixed
      aside-minimize-hoverable page-loading">
    <!--begin::Main-->
    <partial name="_MobilePartial" />
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <partial name="_SideBarPartial" />
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <partial name="_HeaderPartial" />
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class=" container ">
                            <!--begin::Dashboard-->
                            @RenderBody()
                            <!--end::Dashboard-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>
                <!--end::Content-->
                <partial name="_FooterPartial" />
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <partial name="_UserProfilePartial" />
    <partial name="_ScriptPartial" />
    @RenderSection("AdminScripts", required: false)
</body>
</html>
